body {
  text-align: center;
}

#main-container {
  width: 350px;
  height: 580px;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(238, 202, 77, 0.82) 0%,
    rgba(244, 230, 181, 0.56) 100%
  );
  margin: 80px auto;
}

.search-form {
  padding-top: 28px;
  color: #a8a5a5;
  font-family: "Roboto", sans-serif;
  /* font-size: 14px; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#city-search {
  margin: 0 auto;
}

#search-bar {
  width: 80%;
  height: 36px;
  border: 0;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.75);
  text-align: center;
}

.submit-btn {
  background: transparent;
  border: 0;
  color: #a8a5a5;
  position: absolute;
  transform: translateX(-35px) translateY(5px);
  cursor: pointer;
}

h1 {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 20px 0 5px;
}

h2 {
  color: rgba(88, 88, 88, 0.54);
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

#display-container {
  width: 138px;
  height: 138px;
  margin: 0 auto;
  text-align: center;
}
