body {
  text-align: center;
  margin: 0;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 24;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#container {
  width: 350px;
  height: 550px;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(238, 202, 77, 0.82) 0%,
    rgba(244, 230, 181, 0.56) 100%
  );
  order: 1;
  /* margin: 10% auto 5% auto; */
}

.search-form {
  padding-top: 28px;
  color: #a8a5a5;
  font-family: "Roboto", sans-serif;
  /* font-size: 14px; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#city-search {
  margin: 0 auto;
}

.submit-btn {
  background: transparent;
  border: 0;
  color: #a8a5a5;
  margin-top: 5px;
  cursor: pointer;
  position: absolute;
  /* transform: translateX(-35px) translateY(5px); */
}

#search-bar {
  color: rgba(88, 88, 88, 0.8);
  width: 80%;
  height: 36px;
  border: 0;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.65);
  text-align: center;
}

h1 {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 20px 0 0;
}

h2 {
  color: rgba(88, 88, 88, 0.54);
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 5px 0 20px;
}

#display-container {
  width: 138px;
  height: 138px;
  margin: 0 auto;
  text-align: center;
}

#icon-display span {
  /* transform: scale(6.3) translateY(10px);
  position: absolute; */
  font-size: 138px;
  color: rgba(238, 202, 77, 0.82);
  margin: 0 auto;
}

#info-display {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-style: normal;
  line-height: normal;
  position: absolute;
  transform: translate(0px, -120px);
  display: flex;
  justify-content: center;
}

.info-display-xl {
  font-size: 90px;
  font-weight: 500;
}

.info-display-xs {
  font-size: 38px;
  font-weight: 200;
  /* position: absolute; */
  transform: translate(0px, 10px);
}

#current-info {
  color: #d5b33b;
  font-family: "Afacad", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

#current-info-xs {
  color: #95770b;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.6;
}

.current-high-temp {
  padding-right: 3px;
}

.current-low-temp {
  padding-left: 3px;
}

#bottom-container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
}

.bottom-box {
  width: 56px;
  height: 137px;
  flex-shrink: 0;
  border-radius: 29px;
  background: rgba(255, 255, 255, 0.76);
}

.weekday {
  color: rgba(149, 119, 11, 0.9);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 17px auto auto;
}

.forecast-icon {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9px auto;
}

.forecast-icon span {
  color: rgba(238, 202, 77, 0.82);
  font-size: 32px;
}

.bottom-box .high-temp {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  margin: 8px 0 5px;
}

.bottom-box .low-temp {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 200;
  margin: 5px 0;
}

footer {
  order: 2;
}

footer p {
  color: rgba(0, 0, 0, 0.59);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
}

footer a {
  color: rgba(0, 0, 0, 0.59);
  font-weight: 500;
  text-decoration-line: underline;
}
