body {
  text-align: center;
  margin: 0;
}

.weather-app,
.humidity-wind-app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lunar-app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 350px;
  height: 550px;
  border-radius: 30px;
  order: 1;
}

.weather-app .container {
  background: linear-gradient(
    180deg,
    rgba(238, 202, 77, 0.82) 0%,
    rgba(244, 230, 181, 0.56) 100%
  );
}

.lunar-app .container {
  background: linear-gradient(
    180deg,
    rgba(131, 102, 170, 0.95) 1.56%,
    rgba(219, 199, 244, 0.47) 100%
  );
}

.humidity-wind-app .container {
  background: linear-gradient(
    180deg,
    rgba(54, 156, 144, 0.82) 0%,
    rgba(179, 235, 228, 0.56) 100%
  );
}

.search-form {
  padding-top: 28px;
  color: #a8a5a5;
  font-family: "Roboto", sans-serif;
  /* font-size: 14px; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.city-search {
  margin: 0 auto;
}

.submit-btn {
  background: transparent;
  border: 0;
  color: #a8a5a5;
  margin-top: 5px;
  cursor: pointer;
  position: absolute;
  /* transform: translateX(-35px) translateY(5px); */
}

.search-bar {
  color: rgba(88, 88, 88, 0.8);
  width: 80%;
  height: 36px;
  border: 0;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.65);
  text-align: center;
}

.city {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 20px 0 0;
}

.weather-app .current-date {
  color: rgba(88, 88, 88, 0.54);
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 5px 0 20px;
}

.lunar-app .current-date,
.humidity-wind-app .current-date {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 5px 0 20px;
  color: rgba(255, 255, 255, 0.58);
}

.display-container {
  width: 138px;
  height: 138px;
  margin: 0 auto;
  text-align: center;
}

.weather-app .icon-display i {
  /* transform: scale(6.3) translateY(10px);
  position: absolute; */
  font-size: 130px;
  color: rgba(238, 202, 77, 0.82);
  margin: 0 auto;
}

.lunar-app .icon-display i {
  font-size: 130px;
  color: #8a66aa;
  margin: 0 auto;
}

.weather-app .info-display {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-style: normal;
  line-height: normal;
  /* position: absolute; */
  transform: translate(0px, -120px);
  display: flex;
  justify-content: center;
}

.lunar-app .info-display {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-style: normal;
  line-height: normal;
  /* position: absolute; */
  transform: translate(0px, -120px);
  display: flex;
  justify-content: center;
}

.info-display-xl {
  font-size: 90px;
  font-weight: 500;
}

.weather-app .info-display-xs {
  font-size: 38px;
  font-weight: 200;
  /* position: absolute; */
  transform: translate(0px, 10px);
}

.lunar-app .info-display-xs {
  font-size: 38px;
  font-weight: 200;
  transform: translate(-10px, 10px);
}

.weather-app .current-info {
  color: #d5b33b;
  font-family: "Afacad", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.lunar-app .current-info {
  color: rgba(47, 15, 105, 0.74);
  font-family: "Afacad", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.weather-app .current-info-xs {
  color: #95770b;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.6;
}

.lunar-app .current-info-xs {
  color: #3e128e;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.6;
}

.current-high-temp {
  padding-right: 3px;
}

.current-low-temp {
  padding-left: 3px;
}

.weather-app .bottom-container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
  height: 137px;
}

.lunar-app .bottom-container {
  margin: 18px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 137px;
}

.weather-app .bottom-box {
  width: 56px;
  height: 137px;
  flex-shrink: 0;
  border-radius: 29px;
  background: rgba(255, 255, 255, 0.76);
}

.lunar-app .bottom-box {
  width: 56px;
  height: 99px;
  border-radius: 29px;
}

.lunar-app #box-1,
.lunar-app #box-5 {
  background: rgba(255, 255, 255, 0.45);
  align-self: flex-end;
}

.lunar-app #box-2,
.lunar-app #box-4 {
  background: rgba(255, 255, 255, 0.6);
  align-self: center;
}

.lunar-app #box-3 {
  width: 56px;
  height: 81px;
  border-radius: 29px;
  background: rgba(62, 18, 142, 0.41);
  align-self: flex-start;
}

.weather-app .weekday {
  color: rgba(149, 119, 11, 0.9);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 17px auto auto;
}

.lunar-app .weekday {
  height: 0;
  width: 0;
  margin: 0;
  overflow: hidden;
}

.weather-app .bottom-box-icon {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9px auto;
}

.weather-app .bottom-box-icon i {
  color: rgba(238, 202, 77, 0.82);
  font-size: 32px;
}

.lunar-app #box-1 .bottom-box-icon,
.lunar-app #box-2 .bottom-box-icon,
.lunar-app #box-4 .bottom-box-icon,
.lunar-app #box-5 .bottom-box-icon {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9px auto;
}

.lunar-app #box-3 .bottom-box-icon {
  height: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 9px auto; */
}

.lunar-app .bottom-box-icon i {
  color: rgba(62, 18, 142, 0.82);
  font-size: 26px;
}

.lunar-app #box-3 .bottom-box-icon i {
  color: rgba(62, 18, 142, 1);
  font-size: 32px;
}

.weather-app .moonrise-arrow {
  height: 0;
  width: 0;
  margin: 0;
  overflow: hidden;
}

.weather-app .moonset-arrow {
  height: 0;
  width: 0;
  margin: 0;
  overflow: hidden;
}

.moonrise-arrow {
  position: absolute;
  transform: translate(5px, -5px);
}

.moonrise-arrow span {
  color: rgba(62, 18, 142, 0.82);
  font-size: 18px;
}

.moonset-arrow {
  position: absolute;
  transform: translate(5px, -5px);
}

.moonset-arrow span {
  color: rgba(62, 18, 142, 0.82);
  font-size: 18px;
}

.weather-app .upper-text {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  margin: 8px 0 5px;
}

.weather-app .bottom-text {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 200;
  margin: 5px 0;
}

.lunar-app #high-box-1,
.lunar-app #high-box-5 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  margin: 13px 0 5px;
}

.lunar-app #low-box-1,
.lunar-app #low-box-5 {
  display: none;
}

.lunar-app #high-box-2,
.lunar-app #high-box-4 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  margin: -5px 0 5px;
}

.lunar-app #low-box-2,
.lunar-app #low-box-4 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  margin: -2px 0 5px;
}

.lunar-app #high-box-3,
.lunar-app #low-box-3 {
  display: none;
}

/* #lunar .bottom-text {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 200;
  margin: 5px 0;
} */

/* #lunar .bottom-box #box-1,
#box-5 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  margin: 8px 0 5px;
} */

.humidity-wind-wrapper {
  height: 158px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.humidity-wind-icon {
  font-size: 100px;
  color: rgba(19, 94, 85, 0.5);
  position: absolute;
}
.humidity-wind-container {
  width: 158px;
  height: 158px;
  background-color: rgba(255, 255, 255, 0.53);
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.humidity-wind-title {
  color: #186f75;
  font-family: "Afacad", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 0;
  margin: 10px 0 0;
}
.humidity-wind-info {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 200;
  line-height: 0;
  margin: 0;
}

.humidity-unit {
  font-size: 25px;
  padding-left: 3px;
  display: inline;
}

.wind-unit {
  font-size: 21px;
  padding-left: 3px;
}

/* .wind-icon {
  font-size: 100px;
  color: #fff;
} */

/* .humidity-info {
  width: 158px;
  height: 158px;
  background-color: rgba(255, 255, 255, 0.53);
  border-radius: 50%;
} */

.selector-wrapper {
  order: 2;
  margin-top: 12px;
  margin-bottom: 5px;
}
.app-selector {
  display: flex;
  justify-content: space-evenly;
  width: 136px;
}

#lunar-app-btn {
  background: linear-gradient(
    180deg,
    rgb(125 89 175) 1.56%,
    rgb(197 171 230) 100%
  );
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: rgb(255, 255, 255);
  border: 0;
  cursor: pointer;
}

#lunar-app-btn:hover {
  transform: scale(1.1);
  transition: all 200ms ease-in-out;
}

#lunar-app-btn i {
  font-size: 18px;
}

#weather-app-btn {
  background: linear-gradient(
    180deg,
    rgb(235 193 48) 1.56%,
    rgb(243, 227, 167) 100%
  );
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: rgb(255, 255, 255);
  border: 0;
  cursor: pointer;
}

#weather-app-btn:hover {
  transform: scale(1.1);
  transition: all 200ms ease-in-out;
}

#weather-app-btn i {
  font-size: 18px;
}

#humidity-wind-app-btn {
  background: linear-gradient(
    180deg,
    rgb(50 147 136) 1.56%,
    rgb(150 219 210) 100%
  );
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: rgb(255, 255, 255);
  border: 0;
  cursor: pointer;
}

#humidity-wind-app-btn:hover {
  transform: scale(1.1);
  transition: all 200ms ease-in-out;
}

#humidity-wind-app-btn i {
  font-size: 18px;
}

footer {
  order: 3;
}

footer p {
  color: rgba(0, 0, 0, 0.59);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  margin: 4px 0 0;
}

footer a {
  color: rgba(0, 0, 0, 0.59);
  font-weight: 500;
  text-decoration-line: underline;
}

.hidden {
  display: none;
}
